extends layout

block content
  h1= title
  p Welcome to #{title}
  .pics
    each val in pic
      .pic
        img(src="/uploads/"+val, alt="")
  input(type="file" id="files" name="files[]" multiple)
  button(id='remove', onclick='remove()') remove
  output(id="list")
  script(src="js/index.js")
  div#progress
    span 